@font-face {
    font-family: Poppins-Regular;
    src: url('../../fonts/poppins/Poppins-Regular.ttf');
}

* {
    font-family: Poppins-Regular;
    font-size: 16px;
}

#profile-button {
    background-color: white;
    border: none;

}

#user-circle {
    font-size: 40px;
    display: flex;

}

/* #nav-links {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;


} */

#nav-link-container {
    display: flex;
    flex-direction: column;
    justify-items: center;

    background: linear-gradient(to left, #21d4fd, #b721ff);
}

/* #home-list {
    padding: 20px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} */

button {
    border-radius: 25px;
    display: flex;
    justify-content: space-around;

}

.logo {
    size: 30px;
}

#create-button {
    text-decoration: none;
    color: black;
}
